.signup .forms h1{
    text-align: center;
    margin: 20px 0 ;
}
.signup .forms{
    background-color: aqua;
    margin-top: 200px;
}

.forms .form-control{
    margin-bottom: 0px;
    width: 70%;
    margin-left: auto;
    margin-right: auto;
}
.forms #btn{
    border-radius: 8px;
}
.forms p{
    padding-left: 15%;
    visibility:hidden;
}
.forms .error p{
    color: red;
    visibility: visible;
}
.forms .error input{
    border-color: red;
}