@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@1,300&family=Poppins&display=swap');
*{
    margin: 0;
    padding: 0;
    /*box-sizing: border-box;*/
    font-family: 'Josefin Sans', sans-serif;
}
.signup{
    background:linear-gradient(to left,rgba(19, 18, 18,.8),rgba(22, 21, 21,.2)),url(Media/signup.jpg);
    background-size: cover;
    background-position: center;
    object-fit:cover;
    height: 100vh;
}
.signup h1{
    text-align: center;
    margin: 20px 0 ;
}
.form-group{
    height: 80px;
}
.form-group .form-control{
    width: 75%;
    margin-left: auto;
    margin-right: auto;
    border-radius: 8px;
}
.form-group input::placeholder{
    font-weight:600;
}
.signup h1{
    color: #5f4bb7;
    font-size: 50px;
    font-weight:bolder;
}
.signup #btn{
    width: 75%;
    border-radius: 8px;
    margin-left: auto;
    margin-right: auto;
    background-color: #5f4bb7;
    color: #efe3e3;
    font-size: 20px;
    font-weight: 700;
    border:none;
}
#btn:hover{
    color: black;
    filter: brightness(90%);
}
.signup p{
    padding-left: 15%;
    visibility:hidden;
}
.signup .error p{
    color: red;
    font-weight: 500;
    visibility: visible;
}
.signup .error input{
    border-color: red;
}
.row .col-lg-6, .col-md-8{
    background-color: rgba(37, 237, 237,.3);
    height: 86vh;
    border-radius: 15px;
    margin: 55px 15px;
}

.forms2{
    background-color: #5f4bb7;
}
.connect h5{
    color: rgb(55, 54, 54);
    font-weight: 600;
}
.brands a i{
    color: black;
    font-size: 40px;
    background-color: rgb(243, 235, 235);
    height: 50px;
    width: 50px;
    border-radius: 50%;
    padding: 5px;
    margin-right: 10px !important;
}
.line{
    width: 100px;
    border-bottom: 1px solid black;
    position: relative;
    bottom: 26px;
}

.connectwith{
    display: flex;
    gap: 11px;
    justify-content: center;
}